<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>项目介绍</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <!----------------Global css------------------->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/Style/revolution-slider/css/layers.css">
    <link rel="stylesheet" href="../static/Style/revolution-slider/css/navigation.css">
    <link rel="stylesheet" href="../static/Style/revolution-slider/css/settings.css">
    <link rel="stylesheet" href="../static/Style/imagehover/css/imagehover.min.css">
    <link rel="stylesheet" href="../static/Style/animate/animate.min.css">
    <link rel="stylesheet" href="../static/Style/iCheck/css/all.css">
    <link rel="stylesheet" href="../static/Style/sweetalert2/css/sweetalert2.min.css">
    <!----------------custo css----------------->
    <link rel="stylesheet" href="../static/css/custom.css">
</head>
<body>
<!-------------------Preloader---------------->
<div class="preloader" style="position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:100000;
    backface-visibility: hidden;
    background: #ffffff;">
    <div style=" width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin:-25px 0 0 -25px;">
        <img src="../static/image/loader.gif" alt="loading...">
    </div>
</div>
<!----------------Preloader end----------------->
<!-------------Header--------->
<div class="tp-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-md-6"></div>
            <div class="col-xs-5 col-md-6 text-right">
                <span class="signin" data-toggle="modal" data-target="#myModal"><span class="hidden-xs"><a href="/login">Login</a></span><i
                        class="fa fa-sign-in visible-xs-block" aria-hidden="true"></i> </span>
                <span class="register" data-toggle="modal" data-target="#myModal"><span
                        class="hidden-xs"><a href="/register">Register</a></span><i class="fa fa-user-plus visible-xs-block"
                                                            aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>

<header>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myMegamenu"><span
                        class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="../static/image/3.png" class="img-responsive" alt="company-logo">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myMegamenu">
                <ul class="nav navbar-nav">
                    <li class="list2"><a href="/introduction" class="hvr-underline-from-center">INTRODUCTION</a></li>
                    <li class="list2"><a href="/" class="hvr-underline-from-center">PRODUCT</a></li>
                    <li class="list2"><a href="/personalcenter" class="hvr-underline-from-center">PERSONAL CENTER</a></li>
                    <li class="list2"><a href="/contactus" class="hvr-underline-from-center">CONTACT US</a></li>
                </ul>
            </div>

        </nav>
    </div>
</header>
<!-------------------------slider----------------------->
<div class="tp-banner-container rev_slider_wrapper fullwidthbanner-container" data-alias="news-hero72">
    <div class="home_slider">
        <ul>
            <li data-index="rs-10" data-transition="fade" data-slotamount="7" class="bg-light"
                data-easein="Power4.easeInOut" data-delay="5000" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                data-rotate="0" data-saveperformance="off" data-title="Love it?" data-description="">
                <img src="../static/image/new_slider1.jpg" alt="systemimg" data-kenburns="off" data-bgposition="center center"
                     data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                     data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-bgfit="cover"
                     data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <div class="tp-caption  sfb tp-resizeme" data-x="center"
                     data-y="120" data-speed="700" data-start="1000" data-easing="Power0.easeInOut"
                     data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:60px;font-family: lato">
                    WELCOME TO
                </div>
                <div class="tp-caption sft tp-resizeme" data-x="center"
                     data-y="200" data-speed="700" data-start="1000" data-easing="Power0.easeInOut"
                     data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:70px;font-family: lato">
                    VEDHA CORPORATE
                </div>
<!-- 
                <div class="hidden-xs tp-caption  sfl tp-resizeme" data-x="430"
                     data-y="340" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="contact_us.html" class="slider_btn hvr-shutter-out-horizontal">CONTACT US</a>
                </div> -->
                <!-- <div class="hidden-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="340" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5">
                    <a href="contact_us.html" class="slider_btn">PURCHASE NOW</a>
                </div> -->
                <!-- <div class="visible-xs tp-caption  sfl tp-resizeme" data-x="350"
                     data-y="340" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="contact_us.html" class="slider_btn slider_btn_res">CONTACT US</a>
                </div>
                <div class="visible-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="340" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="#" class="slider_btn slider_btn_res">PURCHASE NOW</a>
                </div> -->

            </li>
            <li data-transition="Curtain from Middle" data-slotamount="7" data-delay="5000" data-masterspeed="600"
                class="bg-light">

                <img src="../static/image/new_slider4.png" alt="girlimg" data-bgposition="right bottom"
                     data-duration="11000" data-ease="Linear.easeNone" data-bgfit="cover"
                     data-bgpositionend="left top">
                <div class="tp-caption grey_heavy_72 sfb tp-resizeme" data-x="center"
                     data-y="150" data-speed="700" data-start="700" data-easing="Power0.easeInOut"
                     data-splitin="lines"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:55px;font-family: lato">
                    AWESOME AND ULTIMATE
                </div>
                <div class="tp-caption grey_heavy_72 sft tp-resizeme" data-x="center"
                     data-y="250" data-speed="700" data-start="1000" data-easing="Power0.easeInOut"
                     data-splitin="lines"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit;
                     white-space: nowrap;color: #fff;font-size:45px;font-family: lato">
                    Best Corporate Template
                </div>
                <!-- <div class="hidden-xs tp-caption  sfl tp-resizeme" data-x="430"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="contact_us.html" class="slider_btn">CONTACT US</a>
                </div>
                <div class="hidden-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="#" class="slider_btn">MEET OUR TEAM</a>
                </div> -->
                <!-- <div class="visible-xs tp-caption  sfl tp-resizeme" data-x="350"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="contact_us.html" class="slider_btn slider_btn_res">CONTACT US</a>
                </div>
                <div class="visible-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="#" class="slider_btn slider_btn_res">MEET OUR TEAM</a>
                </div> -->
            </li>
            <!---->
            <li data-index="rs-82" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-delay="5000"
                data-saveperformance="on"
                data-title="Intro Slide" data-bgfit="cover">
                <img src="../static/image/new_slider3.png" alt="girlimg" data-bgposition="right bottom"
                     data-duration="11000" data-ease="Linear.easeNone" data-bgfit="cover"
                     data-bgpositionend="left top">

                <div class="tp-caption grey_heavy_72 sfl tp-resizeme" data-x="center"
                     data-y="150" data-speed="700" data-start="700" data-easing="Power0.easeInOut"
                     data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:70px;font-family: lato">
                    VEDHA CORPORATE
                </div>
                <div class="tp-caption grey_heavy_72 sfr tp-resizeme" data-x="center"
                     data-y="250" data-speed="700" data-start="1500" data-easing="Power0.easeInOut"
                     data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:45px;font-family: lato">
                    Best Corporate Company
                </div>
                <!-- <div class="hidden-xs tp-caption  sfb tp-resizeme" data-x="430"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="contact_us.html" class="slider_btn">CONTACT US</a>
                </div>
                <div class="hidden-xs tp-caption  sfb tp-resizeme" data-x="600"
                     data-y="350" data-speed="1500" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="#" class="slider_btn">MEET OUR TEAM</a>
                </div> -->
                <!-- <div class="visible-xs tp-caption  sfl tp-resizeme" data-x="350"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="contact_us.html" class="slider_btn slider_btn_res">CONTACT US</a>
                </div>
                <div class="visible-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="#" class="slider_btn slider_btn_res">MEET OUR TEAM</a>
                </div> -->
            </li>
        </ul>
    </div>
</div>
<!-------------------Slider end----------------->


<!----------------Body Section Start--------------->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 m-t-50">
            <h2 class="heading underline">About Vedha</h2>
            <p class="text-center">We're building a great company, and we're very excited about the
                future of the company.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <img src="../static/image/index3.png" alt="boyimg" class="img-responsive">
        </div>
        <div class="col-sm-7 section-top-40">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_col_space">
                        <div class="row profile1">
                            <div class="col-md-3 col-sm-3 col-xs-3 section-top-20">
                                <img src="../static/image/responsible-energy-use.png" class="img-responsive"
                                     alt="about_icons">
                            </div>

                            <div class="profile_data col-md-9 col-sm-9 col-xs-9 section-top-20">
                                <a href="about_us.html"><h5 class="profile_data">Responsibility</h5></a>
                                <p class="profile_data">Lorem ipsum dolor sit amet consectetuer adipiscing elit..
                                    <br/><a href="about_us.html" class="text-success">
                                        Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about_col_space">
                        <div class="row profile1">
                            <div class="col-md-3  col-xs-3 section-top-20">
                                <img src="../static/image/global.png" class="img-responsive" alt="about_icons">
                            </div>
                            <div class="profile_data col-md-9  col-xs-9 section-top-20">
                                <a href="about_us.html"><h5 class="profile_data">Global Alliances</h5></a>
                                <p class="profile_data">Lorem ipsum dolor sit amet consectetuer adipiscing elit..
                                    <br/><a href="about_us.html" class="text-success">
                                        Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_col_space">
                        <div class="row profile1">
                            <div class="col-md-3  col-xs-3 section-top-20">
                                <img src="../static/image/diversity.png" class="img-responsive" alt="about_icons">
                            </div>
                            <div class="profile_data col-md-9  col-xs-9 section-top-20">
                                <a href="about_us.html"><h5 class="profile_data">Diversity</h5></a>
                                <p class="profile_data">Lorem ipsum dolor sit amet consectetuer adipiscing elit..
                                    <br/><a href="about_us.html" class="text-success">
                                        Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about_col_space">
                        <div class="row profile1">
                            <div class="col-md-3 col-sm-3 col-xs-3 section-top-20">
                                <img src="../static/image/leadrship.png" class="img-responsive" alt="about_icons">
                            </div>
                            <div class="profile_data col-md-9 col-sm-9 col-xs-9 section-top-20">
                                <a href="about_us.html"><h5 class="profile_data"> Leadership</h5></a>
                                <p class="profile_data">Lorem ipsum dolor sit amet consectetuer adipiscing elit..
                                    <br/><a href="about_us.html" class="text-success">
                                        Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------about end----------->
<section class="home3_countup_section parallax m-t-70">
    <div class="container  section-bottom-pad-40">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3  section-top-40 text-center">
                <h2 class="text-white heading2 underline2 section-top-25">Statistics</h2>
                <p class="text-white text-center">Southwest Airlines is successful because the company understands it's
                    a customer service company. It also happens to be an airline.</p>
            </div>
        </div>
        <div class="row section-top-40">
            <div class="col-md-3 col-sm-6 col-xs-12  text-center text-white">
                <span class="statics_options" id="Overseas">56</span>
                <h4 class="text-white">Overseas Operation</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12  text-center text-white">
                <span class="statics_options" id="Investors">1600</span>
                <h4 class="text-white">Investors</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center text-white">
                <span class="statics_options" id="Client">1400</span>
                <h4 class="text-white">Client Support</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center text-white">
                <span class="statics_options" id="Success">97 </span><span class="text-white statics_options">%</span>
                <h4 class="text-white">Success Rate</h4>
            </div>
        </div>
    </div>
</section>
<!----------Countup-section end------>
<section class="bg-default section-bottom-pad-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 m-t-50">
                <h2 class="heading underline">Services</h2>
                <p class="text-center">Southwest Airlines is successful because the company understands it's a customer
                    service company. It also happens to be an airline.</p>
            </div>
        </div>
        <div class="row m-t-50">
            <div class="col-sm-4">
                <img src="../static/image/home2_slider_layer3.png" alt="img" class="img-responsive center-block">
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li class="link_transition"><a href="services.html"><i class="fa fa-caret-right"></i><i
                            class="fa fa-caret-right"></i> &nbsp;Big Data & Analytics</a></li>
                    <li class="link_transition  section-top-10"><a href="services.html"><i
                            class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i> &nbsp;Cloud
                        Solutions &
                        Services</a></li>
                    <li class="link_transition  section-top-10"><a href="services.html"><i
                            class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i> &nbsp;Web
                        Development</a></li>
                    <li class="link_transition  section-top-10"><a href="services.html"><i
                            class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i> &nbsp;Certified
                        Electricians</a></li>
                    <li class="link_transition  section-top-10"><a href="services.html"><i
                            class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i> &nbsp;Insurance
                        against
                        Damages</a></li>
                    <li class="link_transition  section-top-10"><a href="services.html"><i
                            class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i> &nbsp;Management of
                        Construction</a></li>
                    <li class="link_transition  section-top-10"><a href="services.html"><i
                            class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i> &nbsp;Guaranteed
                        Quality</a>
                    </li>
                    <li class="link_transition  section-top-10"><a href="services.html"><i
                            class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i> &nbsp;Construction
                        Activities</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div id="Services_Carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#Services_Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#Services_Carousel" data-slide-to="1"></li>
                        <li data-target="#Services_Carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" data-interval="3000">
                            <figure class="imghvr-zoom-in">
                                <img src="../static/image/gallery2.jpg" alt="people" class="img-responsive">
                                <figcaption>
                                    <div class="text-center">

                                        <h6 class="text-white"> Web Development</h6>
                                        <p class="text-white">
                                            Lorem ipsum dolor sit amet <br/>consectetuer adipiscing elit..
                                        </p>

                                        <a href="services.html" class="btn btn-success">Read more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item" data-interval="3000">
                            <figure class="imghvr-zoom-in">
                                <img src="../static/image/portfolio5.jpg" alt="people" class="img-responsive">
                                <figcaption>
                                    <div class="text-center">

                                        <h6 class="text-white">Big Data & Analytics </h6>
                                        <p class="text-white">
                                            Lorem ipsum dolor sit amet <br/>consectetuer adipiscing elit..
                                        </p>
                                        <a href="services.html" class="btn btn-success">Read more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item" data-interval="3000">
                            <figure class="imghvr-zoom-in">
                                <img src="../static/image/newsroom3.jpg" alt="people" class="img-responsive">
                                <figcaption>
                                    <div class="text-center">

                                        <h6 class="text-white">IT Services </h6>
                                        <p class="text-white">
                                            Lorem ipsum dolor sit amet <br/>consectetuer adipiscing elit..
                                        </p>

                                        <a href="services.html" class="btn btn-success">Read more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#Services_Carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#Services_Carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>
<!-------------Services Section End------------>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 m-t-50">
            <h2 class="heading underline">We Can Do </h2>
            <p class="text-center">Always keep your portfolio and your risk at your own individual
                comfortable sleeping point.</p>
        </div>
    </div>
    <div class="row section-top-10">
        <div class="col-sm-6 section-top-25">
            <div class="row">
                <div class="col-md-6 section-top-align">
                    <figure class="imghvr-slide-up img-responsive">
                        <img src="../static/image/portfolio5.jpg" alt="gallery3">
                        <figcaption>
                            <div class="text-center hoveicon_plus">
                                <a href="products.html"><i class="fa fa-plus-circle fa-2x text-white"
                                                           aria-hidden="true"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h5>Big Data & Analytics</h5>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor <br/>adipiscing elit.. <a
                            href="products.html" class="text-success"> Read more</a></p>
                    <ul class="social_icons list-inline">
                        <li class="facebook_icon">
                            <a href="#"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                        </li>
                        <li class="twitter_icon ">
                            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
                        </li>
                        <li class="pinterest_icon">
                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram_icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="flickr_icon">
                            <a href="#"><i class="fa fa-flickr " aria-hidden="true"></i></a>
                        </li>
                        <li class="youtube_icon">
                            <a href="#"><i class="fa fa-youtube-play " aria-hidden="true"></i></a>
                        </li>
                        <li class="google_plus_icon">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 section-top-25">
            <div class="row">
                <div class="col-md-6 section-top-align">
                    <figure class="imghvr-slide-up img-responsive">
                        <img src="../static/image/gallery2.jpg" alt="gallery3">
                        <figcaption>
                            <div class="text-center hoveicon_plus">
                                <a href="products.html"><i class="fa fa-plus-circle fa-2x text-white"
                                                           aria-hidden="true"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h5>IT Services</h5>
                    <hr/>
                    <p class="section-top-25">Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor <br/>adipiscing
                        elit.. <a
                                href="products.html" class="text-success"> Read more</a></p>

                    <ul class="social_icons list-inline">
                        <li class="facebook_icon">
                            <a href="#"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                        </li>
                        <li class="twitter_icon ">
                            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
                        </li>
                        <li class="pinterest_icon">
                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram_icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="flickr_icon">
                            <a href="#"><i class="fa fa-flickr " aria-hidden="true"></i></a>
                        </li>
                        <li class="youtube_icon">
                            <a href="#"><i class="fa fa-youtube-play " aria-hidden="true"></i></a>
                        </li>
                        <li class="google_plus_icon">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 section-top-25">
            <div class="row">
                <div class="col-md-6 section-top-align">
                    <figure class="imghvr-slide-up img-responsive">
                        <img src="../static/image/newsroom3.jpg" alt="gallery3">
                        <figcaption>
                            <div class="text-center hoveicon_plus">
                                <a href="products.html"><i class="fa fa-plus-circle fa-2x text-white"
                                                           aria-hidden="true"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h5>Web Development</h5>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor <br/>adipiscing elit.. <a
                            href="products.html" class="text-success"> Read more</a></p>
                    <ul class="social_icons list-inline">
                        <li class="facebook_icon">
                            <a href="#"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                        </li>
                        <li class="twitter_icon ">
                            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
                        </li>
                        <li class="pinterest_icon">
                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram_icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="flickr_icon">
                            <a href="#"><i class="fa fa-flickr " aria-hidden="true"></i></a>
                        </li>
                        <li class="youtube_icon">
                            <a href="#"><i class="fa fa-youtube-play " aria-hidden="true"></i></a>
                        </li>
                        <li class="google_plus_icon">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 section-top-25">
            <div class="row">
                <div class="col-md-6 section-top-align">
                    <figure class="imghvr-slide-up img-responsive">
                        <img src="../static/image/gallery6.jpg" alt="gallery3">
                        <figcaption>
                            <div class="text-center hoveicon_plus">
                                <a href="products.html"><i class="fa fa-plus-circle fa-2x text-white"
                                                           aria-hidden="true"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h5>Global Alliances
                    </h5>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor <br/>adipiscing elit.. <a
                            href="products.html" class="text-success"> Read more</a></p>
                    <ul class="social_icons list-inline">
                        <li class="facebook_icon">
                            <a href="#"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                        </li>
                        <li class="twitter_icon ">
                            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
                        </li>
                        <li class="pinterest_icon">
                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram_icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="flickr_icon">
                            <a href="#"><i class="fa fa-flickr " aria-hidden="true"></i></a>
                        </li>
                        <li class="youtube_icon">
                            <a href="#"><i class="fa fa-youtube-play " aria-hidden="true"></i></a>
                        </li>
                        <li class="google_plus_icon">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------What wecan do Section End--------->
<!-------------------Subscribe Section----------->
<section class="subscribe_section parallax m-t-70">
    <div class="container m-t-50">
        <div class="row section-top-25">
            <div class="col-sm-7 col-md-6 col-xs-12 section-top-10">
                <h3 class="text-white text-right m-t-70">Subscribe To Our Newsletter</h3>
            </div>
            <div class="col-sm-5 col-md-6 m-t-50 section-bottom-pad-40  input_transparent">
                <br/>
                <form action="subscribe.php" method="post" id="subscribe" autocomplete="off">
                    <div class="input-group sub_input">
                        <input type="email" name="email" id="email" class="form-control email"
                               placeholder="Your Email Address" aria-describedby="email" required/>
                        <span class="input-group-addon"><button type="submit" class="subscribe_btn"><i
                                class="fa fa-paper-plane text-white" aria-hidden="true"></i></button></span>
                    </div>
                </form>
                <br/>
            </div>
        </div>
    </div>
    <br/>
</section>
<!-----------------Subscribe section End-------->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 m-t-50">
            <h2 class="heading underline">Meet Our Team</h2>
            <p class="text-center">Great things in business are never done by one person. They're done by a team of
                people.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 m-t-50">
            <div class="meetour_back section-bottom-pad-40">
                <div class="meet_img_pad">
                    <img src="../static/image/man5.png" alt="girlimg" class="img-responsive img-thumbnail center-block">
                </div>
                <div class="img_underdata text-center">
                    <h5>Jhon Does</h5>
                    <p>Web Developer</p>
                    <p>Lorem ipsum dolor sit amet consectetuer dolor ipsum </p>
                    <ul class="social_icons list-inline">
                        <li class="facebook_icon">
                            <a href="#"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                        </li>
                        <li class="twitter_icon ">
                            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
                        </li>
                        <li class="pinterest_icon">
                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram_icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="flickr_icon">
                            <a href="#"><i class="fa fa-flickr " aria-hidden="true"></i></a>
                        </li>
                        <li class="google_plus_icon">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 m-t-50">
            <div class="meetour_back section-bottom-pad-40">
                <div class="meet_img_pad">
                    <img src="../static/image/man3.png" alt="girlimg" class="img-responsive img-thumbnail center-block">
                </div>
                <div class="img_underdata text-center">
                    <h5>James</h5>
                    <p>Web Developer</p>
                    <p>Lorem ipsum dolor sit amet consectetuer dolor ipsum</p>
                    <ul class="social_icons list-inline">
                        <li class="facebook_icon">
                            <a href="#"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                        </li>
                        <li class="twitter_icon ">
                            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
                        </li>
                        <li class="pinterest_icon">
                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram_icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="flickr_icon">
                            <a href="#"><i class="fa fa-flickr " aria-hidden="true"></i></a>
                        </li>
                        <li class="google_plus_icon">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 m-t-50">
            <div class="meetour_back section-bottom-pad-40">
                <div class="meet_img_pad">
                    <img src="../static/image/woman3.png" alt="girlimg" class="img-responsive img-thumbnail center-block">
                </div>
                <div class="img_underdata text-center">
                    <h5>Jessica</h5>
                    <p>Manager</p>
                    <p>Lorem ipsum dolor sit amet consectetuer dolor ipsum </p>
                    <ul class="social_icons list-inline">
                        <li class="facebook_icon">
                            <a href="#"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                        </li>
                        <li class="twitter_icon ">
                            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
                        </li>
                        <li class="pinterest_icon">
                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram_icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="flickr_icon">
                            <a href="#"><i class="fa fa-flickr " aria-hidden="true"></i></a>
                        </li>
                        <li class="google_plus_icon">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-3  col-sm-6 m-t-50">
            <div class="meetour_back section-bottom-pad-40 ">
                <div class="meet_img_pad">
                    <img src="../static/image/man5.png" alt="girlimg" class="img-responsive img-thumbnail center-block">
                </div>
                <div class="img_underdata text-center">
                    <h5>Lamere </h5>
                    <p>HR</p>

                    <p>Lorem ipsum dolor sit amet consectetuer dolor ipsum </p>
                    <ul class="social_icons list-inline">
                        <li class="facebook_icon">
                            <a href="#"><i class="fa fa-facebook " aria-hidden="true"></i></a>
                        </li>
                        <li class="twitter_icon ">
                            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
                        </li>
                        <li class="pinterest_icon">
                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram_icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="flickr_icon">
                            <a href="#"><i class="fa fa-flickr " aria-hidden="true"></i></a>
                        </li>
                        <li class="google_plus_icon">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!-------------Meet Our Team End--------->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 m-t-50 text-center">
            <h2 class="heading underline">Pricing Table</h2>
            <p class="text-center">If we look at pricing holistically, we'll create a more solid business.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 section-top-40">
            <div class="pricing_box">
                <div class="row  pricing_border_danger">
                    <div class="col-xs-12 text-center pricing_basic">
                        <h5 class="text-white">Basic</h5>
                    </div>
                    <div class="col-xs-12 bg-danger pricing_price">
                        <div class="m-t-50 price">
                            <h2 class="text-white">$9</h2>
                            <h6 class="text-white">Per Month</h6>
                        </div>
                    </div>
                    <div class="col-xs-12 section-top-25">
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Monthly Subscription
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Display Advertising
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Multiple Administrators
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Enable Rss Feeds
                        </p>
                    </div>
                    <div class="col-xs-12 text-center bg-danger section-top-25">
                        <a class="btn btn-empty section-bottom-15 section-top-15">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 section-top-40">
            <div class="pricing_box">
                <div class="row pricing_border_warning">
                    <div class="col-xs-12 text-center pricing_intermediate">
                        <h5 class="text-white">Intermediate</h5>
                    </div>
                    <div class="col-xs-12 bg-warning pricing_price">
                        <div class="m-t-50 price">
                            <h2 class="text-white">$29</h2>
                            <h6 class="text-white">Per Month</h6>
                        </div>
                    </div>
                    <div class="col-xs-12 section-top-25">
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Monthly Subscription
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Display Advertising
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Multiple Administrators
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Enable Rss Feeds
                        </p>
                    </div>
                    <div class="col-xs-12 text-center bg-warning section-top-25">
                        <a class="btn btn-empty section-bottom-15 section-top-15">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 section-top-40">
            <div class="pricing_box">
                <div class="row pricing_border_primary">
                    <div class="col-xs-12 text-center pricing_advanced">
                        <h5 class="text-white">Advanced</h5>
                    </div>
                    <div class="col-xs-12 bg-primary pricing_price">
                        <div class="m-t-50 price">
                            <h2 class="text-white">$49</h2>
                            <h6 class="text-white">Per Month</h6>
                        </div>
                    </div>
                    <div class="col-xs-12 section-top-25">
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Monthly Subscription
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Display Advertising
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Multiple Administrators
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Enable Rss Feeds
                        </p>
                    </div>
                    <div class="col-xs-12 text-center bg-primary section-top-25">
                        <a class="btn btn-empty section-bottom-15 section-top-15">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 section-top-40 section-bottom-15">
            <div class="pricing_box">
                <div class="row pricing_border_success">
                    <div class="col-xs-12 text-center pricing_expert">
                        <h5 class="text-white">Expert</h5>
                    </div>
                    <div class="col-xs-12 bg-success pricing_price">
                        <div class="m-t-50 price">
                            <h2 class="text-white">$99</h2>
                            <h6 class="text-white">Per Month</h6>
                        </div>
                    </div>
                    <div class="col-xs-12 section-top-25">
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Monthly Subscription
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Display Advertising
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Multiple Administrators
                        </p>
                        <p><i class="fa fa-check text-success" aria-hidden="true"></i>&nbsp; Enable Rss Feeds
                        </p>
                    </div>
                    <div class="col-xs-12 text-center bg-success section-top-25">
                        <a class="btn btn-empty section-bottom-15 section-top-15">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------Body Section End---------------->

<!--------------Footer Start----------------->
<div class="shape section-top-50"></div>
<section class="copy-rights">
    <div class="container ">
        <div class="row">
            <div >
                <p class="footer_text_color"><a href="/introduction">INTRODUCTION</a> &nbsp;
                    <a href="/">PRODUCT</a> &nbsp;
                    <a href="/personalcenter">PERSONAL CENTER</a> &nbsp;
                    <a href="/contactus">CONTACT US</a>
                </p>
            </div>
        </div>
        <a href="#" id="return-to-top"><img src="../static/image/arrow.png" alt="image-missing"></a>
    </div>
</section>

<!------------------Footer End------------------>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/Style/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="../static/Style/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="../static/Style/iCheck/js/icheck.js"></script>
<script src="../static/Style/countup/js/countUp.min.js"></script>
<script src="../static/Style/sweetalert2/js/sweetalert2.min.js"></script>
<script src="../static/Style/jribbble/js/jribbble.min.js"></script>
<!----------------------page Level Js-------------------------->
<script src="../static/js/custom.js"></script>

</body>
</html>
