
/*
        页面主体部分（头尾）css样式
*/

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

html, body {
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #FFFFFF;
}

/*!*-- login --*!*/
/*.login {*/
/*    padding: 12em 0;*/
/*}*/
/*!*-- login --*!*/


/*-- banner --*/
.banner {
    /*background: url(../images/library_image.jpg) no-repeat 0px 0px;*/
    /*background-size: cover;*/
    /*padding: 0em 0 4em;*/
}

/*-- banner --*/

/*-- header-left --*/
.header {
    background: rgba(212, 212, 212, 0.21);
    padding: 1em 0;
}

.header-left {
    float: left;
}

.w3layouts-logo {
    margin: 1.5em 0 0 0;
}

.w3layouts-logo h1 {
    margin: 0;
}

.w3layouts-logo h1 a {
    color: #2f2f2f;
    font-size: 1em;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.w3layouts-logo h1 a span {
    color: #82b62d;
    font-size: .5em;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
}

/*-- //header-left --*/

/*-- //header-right --*/
.header-right {
    float: right;
    margin: 1.2em 0 0 0;
}

.w3-header-top {
    text-align: right;
}

.w3-header-top ul {
    padding: 0;
    margin: 0;
}

.w3-header-top ul li {
    display: inline-block;
    color: #999999;
    font-size: .9em;
}

.w3-header-top ul li:nth-child(2) {
    margin: 0 0 0 1em;
}

.w3-header-top ul li a {
    color: #999999;
    text-decoration: none;
}

.w3-header-top ul li a:hover {
    color: #82b62d;
}

/*-- //header-right --*/

/*-- top-nav --*/
.top-nav {
    padding: 1em 0;
    /*padding:4em 0;*/
    margin: .5em 0 0 0;
    float: left;
}

.top-nav ul {
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    display: inline-block;
    margin: 0 1em;
    float: left;
}

.top-nav ul li:nth-child(6) {
    margin-right: 0;
}

ul.nav.navbar-nav {
    float: right;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0;
}

.navbar {
    min-height: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}

.top-nav ul li a {
    color: #2f2f2f !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

.top-nav ul li a:hover {
    color: #82b62d !important;
}

.top-nav ul li a.active {
    color: #82b62d !important;
}

ul.dropdown-menu {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 3em;
    left: 0;
    min-width: 90px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 0px 0px !important;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*-- //top-nav --*/


/*-- footer --*/
.footer {
    background-image: url("../image/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.agile-footer-grid h4 {
    color: #212121;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 1em 0;
    letter-spacing: 1px;
}

.agile-footer-grid p {
    /*color: #bbbbbb;*/
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}

.agile-footer-grid p span {
    display: block;
    margin: 1em 0 0 0;
}

.agile-footer-grid ul {
    padding: 0;
    margin: 0;
}

ul.w3agile_footer_grid_list li {
    list-style-type: none;
    color: #bbbbbb;
    line-height: 1.8em;
    margin-bottom: 1em;
    font-size: .9em;
}

ul.w3agile_footer_grid_list li:last-child {
    margin-bottom: 0;
}

ul.w3agile_footer_grid_list li a {
    color: #82b62d !important;
    text-decoration: none;
}

ul.w3agile_footer_grid_list li a:hover {
    color: #212121 !important;
}

ul.w3agile_footer_grid_list li span {
    display: block;
    margin: 1em 0 0;
}

ul.w3agile_footer_grid_list i.fa.fa-twitter {
    margin-right: 1em;
}

.agile-footer-grid ul {
    padding: 0;
    margin: 0;
}

.agile-footer-grid ul li {
    display: block;
    margin-bottom: .5em;
    color: #8a8a8a;
    font-size: .9em;
}

.agile-footer-grid ul li a {
    color: #212121;
    text-decoration: none;
    margin-left: .5em;
}

.agile-footer-grid ul li a:hover {
    color: #82b62d;
}

/*-- //footer --*/

/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url(../image/arrow.png) no-repeat 0 0;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //to-top --*/


/*-- responsive --*/
@media (max-width: 1080px) {
    .icon-box {
        padding: 8px 5px;
    }
}

@media (max-width: 991px) {
    .header-left {
        width: 33%;
    }

    .header-right {
        width: 67%;
    }

    .agileinfo-social-grids {
        margin-left: 1em;
    }

    .top-nav ul li {
        margin: 0 .5em;
    }

    .agileinfo-social-grids {
        margin-left: .5em;
    }

    .agileits-banner-info p {
        width: 65%;
    }

    .w3ls-welcome-img2 {
        margin: 0 0 2em 0 !important;
    }

    .agile-news-right {
        margin: 2em 0 0 0;
    }

    .w3-agile-news-info a span {
        display: inline-block;
    }

    .agile-footer-grid {
        margin: 2em 0 0 0;
    }

    .agile-footer-grid:nth-child(1) {
        margin: 0;
    }

    .gallery-grid {
        width: 50%;
        float: left;
    }

    .contact-form-right {
        margin: 2em 0 0 0;
    }
}

@media (max-width: 736px) {
    .header-left {
        width: 34%;
    }

    .header-right {
        width: 65%;
    }

    .top-nav {
        width: 70%;
    }

    .navbar-toggle {
        float: none;
        margin-right: 0;
        margin-top: 0;
    }

    ul.nav.navbar-nav {
        float: none;
    }

    .navbar-header {
        text-align: center;
    }

    .top-nav ul li {
        margin: .5em 0;
        float: none;
        display: block;
        text-align: center;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: none;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: rgba(0, 0, 0, 0.74);
        position: absolute;
        width: 100%;
        z-index: 99;
    }

    .top-nav ul li a {
        color: #ffffff !important;
    }

    .callbacks_nav.next {
        right: 0;
    }

    .services-right-grid:nth-child(2) {
        margin: 2em 0;
    }

    .wthree-top-grid:nth-child(2), .agile-choose-grid:nth-child(2), .team-grid:nth-child(2) {
        margin: 2em 0;
    }
}

@media (max-width: 667px) {
    .header-left {
        width: 40%;
    }

    .header-right {
        width: 60%;
    }

    .top-nav {
        width: 66%;
    }

    .reply {
        margin-left: 6em;
    }
}

@media (max-width: 600px) {
    .w3layouts-logo h1 a {
        font-size: .9em;
    }

    .top-nav {
        width: 48%;
    }

    .agileits-banner-info h3 {
        font-size: 4em;
    }

    .banner {
        padding: 0em 0 1em;
    }

    .w3layouts-banner-slider {
        margin: 5em 0;
    }

    .callbacks_tabs {
        top: 108%;
        left: 46%;
    }

    .reply {
        margin-left: 6em;
    }
}

@media (max-width: 568px) {
    .header-left {
        width: 42%;
    }

    .header-right {
        width: 58%;
    }
}

@media (max-width: 480px) {
    .header-left {
        width: 100%;
        float: none;
        text-align: center;
    }

    .w3layouts-logo {
        margin: 0;
    }

    .header-right {
        width: 100%;
        float: none;
    }

    .navbar-header {
        text-align: left;
    }

    .top-nav {
        width: 60%;
        margin: 0;
    }

    .w3-header-top {
        text-align: center;
    }

    .w3-agile-news-info a {
        font-size: 1.5em;
    }

    .agileits-banner-info p {
        width: 75%;
    }

    .welcome, .services, .news, .newsletter, .footer, .codes, .typography, .gallery, .contact, .single {
        padding: 2em 0;
    }

    .w3-welcome-grids, .agileits-services, .wthree-news-grids, .w3-agileits-newsletter, .agileinfo-top-grids {
        margin: 2em 0 0 0;
    }

    .w3l-heading h2, .w3l-heading h3, .agileits-about-top-heading h3 {
        font-size: 2em;
    }

    .subscribe-grid {
        width: 90%;
    }

    .agileits-about-top, .w3-agileits-choose, .team {
        padding: 2em 0;
    }

    .agile-choose-grids, .team-grids, .w3agile-map {
        margin: 2em 0 0 0;
    }

    h3.agileits-icons-title {
        font-size: 1.5em;
    }

    .agileits_three_comment_grid1 {
        padding-left: 1em;
    }

    .agileits_tom {
        width: 20%;
    }

    .agileits_tom_right {
        margin-left: 1em;
    }

    .agileits_three_comments {
        margin: 2em 0;
    }

    .w3_leave_comment {
        width: 100%;
    }
}

@media (max-width: 414px) {
    .agileits-banner-info h3 {
        font-size: 3em;
    }

    .w3layouts-banner-slider {
        margin: 3em 0;
    }

    .agileits-banner-info p {
        width: 77%;
    }

    .banner {
        background: url(../images/1.jpg) no-repeat -197px 0px;
        background-size: cover;
    }

    .about-banner {
        padding: 0 !important;
        background: url(../images/1.jpg) no-repeat 0px 0px !important;
        background-size: cover !important;
    }

    .subscribe-grid input[type="text"] {
        padding: .5em;
    }

    .subscribe-grid button.btn1 {
        width: 50px;
        height: 37px;
    }

    .w3l-heading h2, .w3l-heading h3, .agileits-about-top-heading h3 {
        font-size: 1.5em;
    }

    .icons .bs-glyphicons li {
        width: 31.33%;
    }

    .w3ls-heading h2 {
        font-size: 2em;
    }

    .w3agile-map iframe {
        margin: 0em 0 0 0;
    }
}

@media (max-width: 384px) {
    .callbacks_nav {
        bottom: 6px;
    }

    .agileits-banner-info p {
        width: 95%;
    }

    .w3-agile-news-info {
        margin: 1em 0 1em 2em;
    }

    h3.hdg {
        margin: 0px 0 15px;
    }

    .agileits-contact-address {
        margin: 2em 0 0 0;
    }

    .w3layouts-contact-form-top h3, .contact-form-top h3, .w3agile-map h3 {
        letter-spacing: 2px;
    }

    .agileits_three_comments h3, .w3_leave_comment h3 {
        font-size: 1.2em;
    }

    .reply {
        margin-left: 1em;
    }
}

@media (max-width: 375px) {
    .gallery-grid {
        width: 100%;
        float: none;
    }
}

@media (max-width: 320px) {
    .w3layouts-logo h1 a {
        font-size: .8em;
    }

    .top-nav {
        width: 54%;
    }

    .agileits-banner-info h3 {
        font-size: 2em;
    }

    .w3layouts-banner-slider {
        margin: 2em 0;
    }

    .agileits-banner-info p {
        width: 100%;
        margin: .5em auto 0;
    }

    .callbacks_tabs {
        top: 102%;
        left: 42%;
    }

    .agileits-banner-info h6 {
        margin: 0 0 .5em 0;
    }

    .w3ls-welcome-img2 {
        padding: 0;
    }

    .w3-welcome-left {
        padding: 0;
    }

    .services-right-grid {
        text-align: center;
        padding: 0;
    }

    .w3ls-welcome-img1 {
        padding: 0;
    }

    .agile-news-left {
        padding: 0;
    }

    .w3l-heading h2, .w3l-heading h3, .agileits-about-top-heading h3 {
        font-size: 1.2em;
        letter-spacing: 6px;
    }

    .w3ls-heading h2 {
        font-size: 1.5em;
    }

    .w3layouts-contact-form-top h3, .contact-form-top h3, .w3agile-map h3 {
        font-size: 1.2em;
    }

    .w3agile-map iframe {
        min-height: 200px;
    }

    .reply a {
        padding: .4em 1em;
    }

    .agileits_three_comment_grid1 {
        padding-left: 0em;
    }

    .agileits_three_comments h3, .w3_leave_comment h3 {
        letter-spacing: 2px;
    }

    .w3_leave_comment form {
        margin: 1em 0 0;
    }

    .agileits-single-img h4 {
        font-size: 1em;
    }
}

/*-- //responsive --*/

