<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        登录
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
    <link
        href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/account/css/login.css">
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="content" align="center">
        <br>
        <br>
        <h1>Login</h1>
        <img border="0" src="/static/image/default_icon.bmp" alt="default_image" width="50" height="50">
        <br>
        <br>
        <p class="ex1" style="color:#C8C8C8">-If you haven't registered, here
            <strong><a href="/register">Register</a></strong>.-
        </p>
        <br>
        <p>
            Username <input type="test" id="userName" name="userName">
        </p>
        <p>
            Password&nbsp; <input type="password" id="passWd" name="passWd">
        </p>
        <p>
        <div class="btn-group btn-group-sm">
            <button type="button" onclick="Handle_Login()" class="btn btn-primary"
                style="background-color: #203643;border-color: #cccccc"> login
            </button>
        </div>
        </p>
        <br>
        <br>
    </div>


    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>

    <script>
        function Handle_Login() {
            'use strict';

            var uname = document.getElementById('userName').value;
            var pwd = document.getElementById('passWd').value;

            if (typeof uname == "undefined" || uname == null || uname == "") {
                alert("用户名不能为空！");
                window.location.href = '/login';
                return;
            }
            if (typeof pwd == "undefined" || pwd == null || pwd == "") {
                alert("密码不能为空！");
                window.location.href = '/login';
                return;
            }

            $.ajax({
                url: "/session_key",
                async: false,
                success: function (msg) {
                    console.log(msg);
                    console.log(msg.pk_n);
                    console.log(msg.pk_e);
                    console.log(msg.certificate);

                    var rsa = forge.pki.rsa;

                    var rsaPublicKey = rsa.setPublicKey(new forge.jsbn.BigInteger(msg.pk_n), new forge.jsbn.BigInteger(msg.pk_e));
                    console.log(rsaPublicKey);

                    // =============对证书内容进行检验===============



                    var result = true;
                    // =============end of 检验证书内容==============
                    if (result === false) {
                        alert("证书验证失败!")
                        window.location.href = '/login';
                        return;
                    }

                    var session_key_arr = [];
                    for (let i = 0; i < 32; i++) {
                        session_key_arr.push(randomNum(0, 256));
                    }

                    var session_key_u8 = Uint8Array.from(session_key_arr);
                    console.log(session_key_u8);

                    sessionStorage.setItem('session_key', session_key_u8);
                    sessionStorage.setItem('userName', uname);
                    var session_key_str = bin2String(session_key_u8);

                    console.log(session_key_str);

                    var session_package = {
                        user: uname,
                        password: pwd,
                        key: session_key_str
                    }
                    var session_package_json = JSON.stringify(session_package);
                    console.log(session_package_json);

                    var enc_session_package = rsaPublicKey.encrypt(session_package_json, 'RSAES-PKCS1-V1_5');

                    $.ajax({
                        url: "/login",
                        method: "POST",
                        async: false,
                        data: { "userName": uname, "enc_session_package": btoa(enc_session_package) },
                        success: function (data) {
                            console.log(data);
                            console.log(data.res);
                            console.log(data.message);
                            if (data.res === "1") {
                                alert("success");
                                window.location.assign("introduction.html");
                                return;
                            } else {
                                alert(data.message);
                                window.location.href = '/login';
                                return;
                            }
                        }
                    });
                }
            })
        }

        //生成从minNum到maxNum的随机数
        function randomNum(minNum, maxNum) {
            switch (arguments.length) {
                case 1:
                    return parseInt(Math.random() * minNum + 1, 10);
                    break;
                case 2:
                    return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                    break;
                default:
                    return 0;
                    break;
            }
        }

        function bin2String(array) {
            return String.fromCharCode.apply(String, array);
        }

        function string2Bin(str) {
            var result = [];
            for (var i = 0; i < str.length; i++) {
                result.push(str.charCodeAt(i));
            }
            return result;
        }

    </script>

</body>

</html>