<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        注册
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
    <link
        href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/account/css/login.css">
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="content" align="center">
        <br>
        <br>
        <h1>Register</h1>
        <img border="0" src="/static/image/default_icon.bmp" alt="default_image" width="50" height="50">
        <br>
        <br>
        <p class="ex1" style="color:#C8C8C8">-If you have already registered, here
            <strong><a href="/login">Login</a></strong>.-
        </p>
        <br>
        <p>
            Username <input type="test" id="userName" name="userName">
        </p>
        <p>
            Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" id="email" name="email">
        </p>
        <p>
            Password&nbsp; <input type="password" id="passWd" name="passWd">
        </p>
        <p>
            Comfirm&nbsp;&nbsp;&nbsp; <input type="password" id="passWd_2" name="passWd_2">
        </p>
        <!-- <p>
            {{.message}}
        </p> -->
        <p>
        <div class="btn-group btn-group-sm">
            <button type="button" onclick="Handle_Register()" class="btn btn-primary"
                style="background-color: #203643;border-color: #cccccc">
                Register </button>
        </div>
        </p>
        <br>
        <br>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>

    <script>
        function Handle_Register() {
            'use strict';

            var uname = document.getElementById('userName').value;
            var email = document.getElementById('email').value;
            var pwd = document.getElementById('passWd').value;
            var pwd_2 = document.getElementById('passWd_2').value;

            if (typeof uname == "undefined" || uname == null || uname == "") {
                alert("用户名不能为空！");
                window.location.href = '/register';
                return;
            }
            if (typeof email == "undefined" || email == null || email == "") {
                alert("邮箱不能为空！");
                window.location.href = '/register';
                return;
            }
            if (pwd !== pwd_2) {
                alert("两次密码输入不一致！");
                window.location.href = '/register';
                return;
            }

            $.ajax({
                url: "/session_key",
                async: false,
                success: function (msg) {
                    console.log(msg);
                    console.log(msg.pk_n);
                    console.log(msg.pk_e);
                    console.log(msg.certificate);

                    var rsa = forge.pki.rsa;

                    var rsaPublicKey = rsa.setPublicKey(new forge.jsbn.BigInteger(msg.pk_n), new forge.jsbn.BigInteger(msg.pk_e));
                    console.log(rsaPublicKey);

                    // =============对证书内容进行检验===============



                    var result = true;
                    // =============end of 检验证书内容==============
                    if (result === false) {
                        alert("证书验证失败!")
                        window.location.href = '/register';
                        return;
                    }

                    var user_pswd = {
                        user: uname,
                        password: pwd
                    }
                    var user_pswd_json = JSON.stringify(user_pswd);

                    var enc_uname_pwd = rsaPublicKey.encrypt(user_pswd_json, 'RSAES-PKCS1-V1_5');

                    $.ajax({
                        url: "/reg",
                        async: false,
                        data: { "userName": uname, "enc_uname_pwd": btoa(enc_uname_pwd), "email": email },
                        success: function (data) {
                            console.log(data);
                            console.log(data.res);
                            console.log(data.message);
                            if (data.res === "1") {
                                alert("success");
                                window.location.assign("introduction.html");
                                return;
                            } else {
                                alert(data.message);
                                window.location.href = '/register';
                                return;
                            }
                        }
                    });
                }
            })
        }

        function bin2String(array) {
            return String.fromCharCode.apply(String, array);
        }

        function string2Bin(str) {
            var result = [];
            for (var i = 0; i < str.length; i++) {
                result.push(str.charCodeAt(i));
            }
            return result;
        }

    </script>


</body>

</html>